body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

#signUp {
  text-align: center;
}

input {
  width: calc(100% - 20px);
  height: 60px;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: large;
  border: 1px solid #9c9b9b;
  padding-block: 0px;
  padding-inline: 0px;
  padding-left: 20px;
  padding-right: 0px;
}

input:focus {
  outline: none;
  border-color: #4187c8;
  box-shadow: 0 0 7px #4187c8;
}

#checkBox {
  height: 15px;
  border-radius: 0px;
}

#firstName {
  display: inline;
}

.nameContainer {
  display: flex;
  gap: 40px;
}

.passwordContainer {
  display: flex;
  gap: 40px;
}
.policyContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

#checkBox {
  flex: 0.1;
  justify-content: flex-start;
}
#checkBoxLabel {
  flex: 1;
  font-weight: bold;
}
.policyText {
  flex: 4;
}

.btnContainer {
  display: flex;
  gap: 40px;
}

button {
  width: 100%;
  height: 60px;
  margin: 5px 0px;
  border-radius: 5px;
  color: white;
  font-size: large;
  border: none;
  transition-duration: 0.4s;
}

#registerBtn {
  background-color: #4187c8;
}

#signInBtn {
  background-color: #5ab45a;
}

#signInBtn:hover {
  background-color: #5ab45ad2;
}

#registerBtn:hover {
  background-color: #4187c8c1;
}

.registerSpan {
  display: inline-block;
  width: 45px;
  height: 10px;
  padding: 7px;
  border-radius: 5px;
  border-color: none;
  color: white;
  font-size: large;
  background-color: #4187c8;
  font-size: 0.7rem;
}

.term {
  text-decoration: none;
  color: #4187c8;
}
