.content-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-gap:2rem;
    justify-items: center;
    align-items: center;

}

.content-item{
    width: 80%;
    height: 500px;
    border: 3px solid lightblue;
    background-color: aquamarine;
}