
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;

}

img{
    height: 1rem;
}

.subscribe-text{
    color:#333
}
.title{
    text-decoration: underline;
}

.content-container{
    margin: 10px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    grid-auto-rows: minmax(10rem, 1fr);
    grid-gap: 3rem;



}

.content-item{
    box-sizing: border-box;
    width: 100%;
    border: 5px solid rgb(155, 167, 171);
    padding-left: 20px;
    padding-bottom: 1rem;
}

.item1{
    border: 1px solid rgb(155, 167, 171);
}

.world{
    color:rgb(113, 206, 238);
}

.design{
    color:lightgreen;
}

.example, 
.date,
.text{
    margin: 0;
}

.link{
    color:rgb(113, 206, 238);
}



.footer {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid rgb(155, 167, 171);;
    background-color: rgb(248, 248, 248);
    text-align: center;
}